.modal-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 98%;
    background-color: var(--secondary-theme-color);
    border-radius: 20px;
    box-shadow: 24px;
    padding: 1.5rem 2rem 2rem;
}

.modal-dismiss-container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
}

.modal-dismiss-container svg {
    color: #747474;
}

[class='stepper-content'] {
    margin: 0 auto !important;
    padding: 30px 0 0 !important;
}

.input-field {
    display: block;
    width: 100%;
    padding: 11px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    outline: none;
}

.input-field:focus-visible {
    border: 1px solid var(--primary-theme-color);
}

.button {
    background-color: var(--primary-theme-color) !important;
    border-radius: 20px !important;
    padding: 10px 15px !important;
    color: white !important;
}

.button:hover {
    background-color: #097992 !important;
}

.button[disabled] {
    opacity: .6 !important;
}

.button.back-button {
    color: #747474 !important;
    border: 2px solid #747474 !important;
    background-color: var(--secondary-theme-color) !important;
}

[class~="MuiStepLabel-root"] {
    flex-direction: column;
}

@media (max-width: 768px) {
    .button {
        font-size: .7rem !important;
    }
}